:root{
  --font1:'Oswald', sans-serif;
  --font2: 'Amiri', serif;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }
  
  .menu-heading {
    font-size: 32px;
    margin-top: 20px;
    margin-bottom: 40px;
    font-family: var(--font1);
    font-weight: bold;
  }
  .col-md-6{
    font-size: 20px;
    font-family: var(--font1);
  }
  .row {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: var(--font1);
  }
  .col-md-3{
    font-size: 20px;
    font-family: var(--font1);
  }

  .col-md-4 {
    width: 33.33%;
    padding: 10px;
  }
  

  .image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

  }
  
  .column-image {
    width: 180px;
    height: 180px;
    object-fit: cover;
    margin: 10px;
  }
  
  .logo-image {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
  }
  
  .menu-column {
    background-color: #e9d5b0;
    padding: 20px;
  }
  
  .column-title {
    background-color: #e9d5b0;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .col-md-12{
    margin: 10px;
  }
  .column-title-text {
    font-size: 20px;
    font-weight: bold;
    font-family: var(--font1);

  }
  .column-title-text1{
    font-size: 22px;
    font-weight: bold;
    width: 100px;
  }
  .column-info {
    font-size: 22px;
    font-weight: bold;
    font-family: var(--font2);

  }
  
  .menu-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .item-details {
    font-size: 16px;
    margin-bottom: 5px;
    font-family: var(--font2);
  }
  
  .row .col-md-123{
    margin-top: 50px;
  }

  body{
    background-color: antiquewhite;
  }

  .menu-column .topping .menu-list li {
    display: flex;
    justify-content: space-between;
  }
  
  .menu-column .topping .menu-list .item-name {
    flex: 1;
  }
  
  .menu-column .topping .menu-list .item-price {
    flex-basis: 60px;
    text-align: right;
  }
  
  .menu-column .topping .col-md-6{
    width: 70%;
  }

  .menu-column .topping li .col-md-6{
    width: 150px;
  }